<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <title>
            Voting System
        </title>
    </head>
    <body> 
        <div class="card">
            <div class="card-header" style="margin :
                1rem auto 0 auto;Background:rgb(28, 116, 222)">
                <b>Welcome </b>
            </div>
            <div class="card-body">
                <form method="GET" action="{% url 'aquery' %}">
                    <div class="form-group">
                        <input list="lang" class="form-control"
                            name="lang" style="margin :
                            1rem ;width:40%;">
                        <input class="btn btn-primary" type="submit"
                            value="Submit" style="margin :
                            1rem auto 0 auto;">
                        <button type="reset" class="btn btn-danger"
                            style="margin :
                            1rem auto 0 auto;">Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <datalist id="lang">
            {% for i in arr %}
            <option>{{i}}</option>
            {% endfor %}
        </datalist>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="badge badge-warning" style="margin: 1rem auto 0
                        auto;display:block;width:13%;height:25px">Result Table</span>
                        <a href="{% url 'sort' %}">Sort</a> 
                    <div class="table-responsive" style="margin: 1rem auto 0 auto;">
                        <table class="table" style="margin: 1rem auto 0 auto;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Languages</th>
                                    <th scope="col">Votes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i,j in dic.items %}

                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{i}}</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{j}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{j}}</div>
                                          </div>
                                    </td>
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="badge badge-success" style="margin: 1rem auto 0
                        auto;display:block;width:13%;height:25px">HI</span>
                </div>
            </div>
        </div>
    </body>
</html>