@keyframes black-to-blue{
    0%{
        background: black;
        transform:rotate(40deg);
        text-align: left;
    }
    40%{
        background: green;
        transform:rotate(-200deg);
        text-align: center;
    }
    100%{
        background: blue;
        transform:skewY(180deg);
        text-align: end;
    }
}

#title{
    animation-name: black-to-blue;
    animation-duration: 3s;
    animation-timing-function:linear ;
    animation-delay: 3s;
    animation-iteration-count: 10;
    animation-direction: reverse;
}